<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ONLINE QUIZ</title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" >

    <style>
    .transbox {
       margin:5%;
       padding:5%;
       background-color: #ffffff;
       border: 2px solid red;
       opacity: 0.6;
       border-radius: 10px;
 }
 .sq:hover{
   color:black;
 }
    </style>
  </head>
  <body class=""  style='background:rgba(255,0,0,0.2)'>
    <div class="container-fluid px-0">
      <div class="row">
        <div class="col-md-12">
          <nav class='navbar bg-dark navbar-dark navbar-expand-sm'>
            <a href="{% url "index"%}" class='navbar-brand'>Online Quiz</a>
            <ul class='navbar-nav ml-auto'>
              <a href="{% url "quiz:question"%}" class='nav-link btn btn-outline-light mr-2'>
                <li class='nav-item sq '> <<< Start Quiz!!!</li>
              </a>
              <a href="{% url "index"%}" class='nav-link btn btn-outline-light'>
                <li class='nav-item sq'> Go to Homepage</li>
              </a>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row" style="background:url('{% static 'images/mystery.jpg'%}');padding:7%;background-size: 100% 100%;  background-attachment:fixed;">
        <div class="col-md-6 mx-auto">
          <h1 class='transbox mx-auto'><i class="fas fa-question mr-2" style='color:red; margin-right:10px;'></i> Did you Know <i class="fas fa-question mr-2" style='color:red; margin-right:10px;'></i><i class="fas fa-question mr-2" style='color:red; margin-right:10px;'></i></h1>

        </div>
      </div>
    </div>
    <div class="container">
      <div class=" col-md-12 bg-light p-5 m-5">
          <table class="table table-striped alert alert-s ">
            <tbody>
          {% for i in fact %}

              <tr>
                <td>{{i.thought}} </td>
              </tr>

          {% endfor %}
          </tbody>
          </table>
      </div>
    </div>
    <div class="container-fluid text-center" style='margin:0px;' id='about'>
      <div class="row">
        <div class="col-md-12" style="padding:3%; background:black; color:white;">
          <strong>Powered By :</strong> <br/> <i class="fa fa-user" style='padding-right:2px;'></i> Shivam Gautam <br/>
          <span class='justify-content-center'>Copyright &copy; <a href="http://www.sachtechsolution.com/" style='color:white;'>Sachtech Solution Pvt. ltd.</a></span>

        </div>
      </div>
    </div>
  </body>
</html>
