<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>ONLINE QUIZ</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">

    <script>
      function myfun(){
        var x =prompt('Very nice attempt, Please tell me your Name!!!');
        if(x=='' || x==null){
          document.write('<h1>Name required!!!</h1>');
        }
        else{
           document.getElementById("name").innerHTML =x;


      }
    }
    </script>
    <script>
      $(document).ready(function(){
        $('#button').click(function(){
          $('#scoreb').fadeToggle(2000);
        });
      });
    </script>

    <style>
.sq:hover{
  color:black;
}
  </style>
  </head>
  <body onload='myfun()'>
    <div class="container-fluid px-0">
      <div class="row">
        <div class="col-md-12">
          <nav class='navbar bg-dark navbar-dark navbar-expand-sm'>
            <a href="{% url "index"%}" class='navbar-brand'>Online Quiz</a>
            <ul class='navbar-nav ml-auto'>
              <a href="{% url "quiz:question"%}" class='nav-link btn btn-outline-light mr-2'>
                <li class='nav-item sq '> << Start Again!!!</li>
              </a>
              <a href="{% url "index"%}" class='nav-link btn btn-outline-light mr-2'>
                <li class='nav-item sq '> <<< Home</li>
              </a>
              <a href="#details" class='nav-link btn btn-outline-light mr-2'>
                <li class='nav-item sq'> View Answer Description</li>
              </a>
              <a href="#scoreb" id='button' class='nav-link btn btn-outline-light mr-2'>
                <li class='nav-item sq'> View Previous scoreboard</li>
              </a>
              <a href="#" class='nav-link'>
                <li class='nav-item' ><i class="fas fa-use mr-2" style='font-size:20px; color:white;'> <span id='name' name='res' class='nav-item'></span> </i></li>
                <!-- <form class="" name='myform' method="post">
                  {% csrf_token %}
                  {{ myform.as_p }}
                  <input type="text" id='na' name=

                  'na' value=""/>
                </form> -->

              </a>

            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row" style='background:rgba(255,0,0,0.1); background-attachment:fixed;'>
        <div class="container">
          <div class="row my-5">
            <div class="col-md-12">
              <h1 class="text-center alert-success my-5 pb-5" id='name' style='text-shadow:20px 10px 10px black; box-shadow:20px 10px 10px black; border-radius:50%;'>Your Result</h1>
            </div>
            <div class="col-md-6 mx-auto mt-5 p-2 bg-light">
              <div class="bg-success py-5">
                <h1 class="text-center display-1">{{ quiz.right }}</h1>
              </div>
            </div>
            <div class='col-md-6 mx-auto mt-5 p-2 bg-light'>
              <div class="bg-danger py-5">
                <h1 class="text-center display-1">{{ quiz.wrong }}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid p-5 " id='details' style='background:rgba(0, 255, 0,0.1); background-attachment:fixed; '>
      <div class="row">
        <div class="col-md-9 mx-auto bg-light p-5" style='border-radius:20px;'>
          <h1 class='text-warning text-center p-5 mb-5' style='background:rgba(125,50,125,0.1); text-shadow:20px 10px 10px black; box-shadow:20px 10px 10px black; border-radius:50%;'>Here is Details of Answer</h1>
          <dl class="list-group">

            {% for i in des.Questions %}

              <dd class='alert alert-danger p-2 ' style='font-size:20px'><strong>Question:</strong>{{ i.question }}</dd>
              <dd class='alert alert-success p-3'><strong>Description:</strong>{{ i.explanation }}</dd>
              <dd class='alert alert-success p-3'><strong>Correct Option:</strong> {{ i.answer }}</dd>
            {% endfor %}
          </dl>

        </div>
      </div>
    </div>
    {% if board %}
    <div class="container-fluid my-5" id='scoreb' style='display:none; border-radius:10px;'>
      <div class="row">
        <div class="col-md-12">
          <h1 class='py-5 my-3 text-center text-success'style='background:rgba(255,0,0,0.1)'>Here is previous Score Board</h1>
        </div>
        <div class="col-md-12">
          <table class='table my-5 table-hover'>
            <thead>
              <tr>
                <th>Sr. No</th>
                <th>Correct Answers</th>
                <th>Wrong Answers</th>
                <th>Date</th>
              </tr>
            </thead>
            {% for i in board %}
            <tbody>
              <tr>
                <td> {{i.id}} </td>
                <td>{{ i.Right_Answers }}</td>
                <td>{{ i.Wrong_Answers }}</td>
                <td> {{ i.Date }} </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="container-fluid text-center" style='margin:0px;' id='about'>
      <div class="row">
        <div class="col-md-12" style="padding:3%; background:black; color:white;">
          <strong>Powered By :</strong> <br/> <i class="fa fa-user" style='padding-right:2px;'></i> Shivam Gautam <br/>
          <span class='justify-content-center'>Copyright &copy; <a href="http://www.sachtechsolution.com/" style='color:white;'>Sachtech Solution Pvt. ltd.</a></span>

        </div>
      </div>
    </div>

  </body>
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"> -->
</html>
